html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #eee;
}

.fixed-top {
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
}

ul#pending li,
ul#completed li {
    font-weight: 500;
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.15);
}

p {
    margin-bottom: 0;
    margin-right: 10px;
}

ul#pending li:last-of-type {
    margin-bottom: 0;
}

button:hover {
    cursor: pointer;
}

.btn-group button {
    width: 48px;
    height: 48px;
}

div#activities {
    /* Accommodate for the fixed-top, which is 83.5px */
    margin-top: 93.5px;
}

hr {
    margin-left: 80px;
    margin-right: 80px;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    
}



/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    
}



/* Large devices (desktops, 992px and up) */

@media (min-width: 768px) {
    
}